.n-selector {
    display: flex;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 30px;
    color: #555555;

    .n-selector-label {
        height: 30px;
        margin-right: 10px;
        text-align: center;
        padding: 1px;
    }

    .n-selector-btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding: 5px;

        .n-selector-btn-img {
            width: 70%;
            height: 70%;
            background-size: cover;
            margin: auto;
        }

        &.minus {
            .n-selector-btn-img {
                background-image: url('/media/icons/down-arrow.svg');
            }
            &:hover {
                .n-selector-btn-img {
                    background-image: url('/media/icons/down-arrow-full.svg');
                }
            }
        }

        &.plus {
            .n-selector-btn-img {
                background-image: url('/media/icons/up-arrow.svg');
            }
            &:hover {
                .n-selector-btn-img {
                    background-image: url('/media/icons/up-arrow-full.svg');
                }
            }
        }
    }

    .n-selector-number-label {
        width: 30px;
        height: 30px;
        text-align: center;
    }
}