.n-selector {
    display: flex;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 30px;

    .n-selector-label {
        height: 30px;
        margin-right: 10px;
        text-align: center;
    }

    .n-selector-btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding: 3px;

        .n-selector-btn-img {
            width: 80%;
            height: 80%;
            background-size: cover;

            &.minus {
                background-image: url('/media/icons/minus.svg');
            }

            &.plus {
                background-image: url('/media/icons/plus.svg');
            }
        }
    }

    .n-selector-number-label {
        width: 30px;
        height: 30px;
        text-align: center;
    }
}