.result-panel {
    position: absolute;
    top: 156px;
    left: 150px;
    font-size: 18px;

    span {
        line-height: 24px;
    }

    .total {
        font-weight: bold;
    }

    span.label {
        margin-right: 40px;
    }

    span.value {
        float: right;
    }
}