body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.settings {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 354px;
}

.button-match {
    width: 217px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    color: white;
    background-color: #4382B0;
    font-size: x-large;
    border-radius: 5px;
    padding: 5px;

    .label {
        padding: 6px;
        text-align: center;
    }
}

.result-buttons {
    margin: auto;
    width: 480px;


    .button-match.error {
        background-color: rgb(202, 60, 60);
    }

    .button-match.success {
        background-color: rgb(28, 184, 65);
    }

    .button-match.pressed {
        background-color: #bbbbbbbb;
    }
}

.overlay {
    opacity: 1;
    position: relative;
    bottom: 34vh;
    text-align: center;
    font-size: 35px;
    color: #555555;
    text-shadow: grey -2px 2px 2px;
    transition: opacity .5s ease-in-out;
}

.game-in-progress {
    .overlay {
        display: none;
    }
}

@media screen and (max-height: 400px) {
    .overlay {
        opacity: 0;
    }
}